<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>StackSavings - Custom Web Application Development</title>

	<script src="https://parse.com/downloads/javascript/parse-1.3.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
	
  <script src="js/config.js"></script>
  <script src="js/params.js"></script>
  <script src="js/pageVariablesController.js"></script>	

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">

  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

  <!--Icon Font-->
  <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css" />


  <!-- Extras -->
  <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">


  <!-- jQuery Load -->
  <script src="assets/js/jquery-min.js"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <script src="analytics.js"></script>
	</script>

</head>

<body ng-app="mainApp">
  
	<div ng-controller="pagevariables">
	</div>
  
  <!-- Nav Menu Section -->
  <div class="logo-menu">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-md-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><i class="fa fa-fa fa-cubes"></i> {{title}}</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav pull-right">
            <!-- class="active" -->
            <li ><a href="{{menu_url_1}}">{{menu_label_1}}</a> 
            </li>
            <li ><a href="{{menu_url_2}}">{{menu_label_2}}</a> 
            </li>
            <li ><a href="{{menu_url_3}}">{{menu_label_3}}</a> 
            </li>
            <li ><a href="{{menu_url_4}}">{{menu_label_4}}</a> 
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- Nav Menu Section End -->

  <!-- Hero Area Section -->

  <section id="hero-area">
    <div class="hero-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title-big">{{header_text}}</h1>
            <h2 class="subtitle-big">{{header_subtext}}</h2>
          </div>
          <div class="col-md-12 text-center">
            
                    <div class="form_error"></div>
          <div class="submission_message">
            <form role="form" class="sign-up-form" ng-submit="submit()" ng-controller="formsubmit">
              <div class="form-group col-md-offset-4 col-md-4 col-md-offset-4 wow fadeInDown">
                <input type="email" name="email" ng-model="form.email" class="form-control" id="signupemail" placeholder="Your email" required>
              </div>
              <div class="form-group col-md-offset-4 col-md-4 col-md-offset-4 wow fadeInDown" data-wow-delay=".7s">
                <input class="sign-up-button btn btn-border btn-lg col-md-offset-3 col-md-6 col-md-offset-3 wow fadeInUp" data-wow-delay="1s" type="submit" value="Submit" class="btn btn-default">
              </div>
            </form>
          </div>
            
						<script type="text/javascript">

							myapp.controller("formsubmit", ['$scope', function($scope) {
				
								$scope.submit = function() {
								  
								  var parse_table = "ContactUs"
								  
								  if (page_name == "signup") {
								    parse_table = "JobAppEmail"
								  }

									var PObject = Parse.Object.extend(parse_table);
									var pObject = new PObject();

                  var email = $scope.form.email
                  if (!email) {
                    $scope.form.email = "blank_value"
                    $(".form_error").html("There's a problem with the data you entered, please try again")
                    return
                  }

									pObject.save($scope.form, {
										success: function(object) {
											//user successfully submited
                      $(".form_error").html("")
											$(".submission_message").html("<b>Thank you for your submission, we will be in touch soon.</b>").show();
										},
										error: function(model, error) {
											//handling error
											$(".submission_message").html("<b>Sorry, there was a problem submitting your form.</b>").show();
											console.log($scope.form);
										}
									});
								}

							}]);
						</script>
            
            
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Hero Area Section End-->



  <!-- feature Section -->

  <section id="key-features">
    <div class="container text-center">
      <div class="row">
        <h1 class="title-small wow tada">{{section_1_title}}</h1>
        <h2 class="subtitle-small wow fadeInLeft" data-wow-delay=".5s">{{section_1_subtext}}</h2>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay=".5s">
          <div class="feature-item">
            <i class="fa fa-coffee fa-4x"></i>
            <h3>{{section_1_1_title}}</h3>
            <p>{{section_1_1_subtext}}</p>
          </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay=".8s">
          <div class="feature-item">
            <i class="fa fa-check fa-4x"></i>
            <h3>{{section_1_2_title}}</h3>
            <p>{{section_1_2_subtext}}</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="1.2s">
          <div class="feature-item">
            <i class="fa fa-leaf fa-4x"></i>
            <h3>{{section_1_3_title}}</h3>
            <p>{{section_1_3_subtext}}</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- feature Section End -->

  <!-- feature Section Start -->
  <section id="features">
    <div class="container">
      <div class="row">
        <h1 class="title-small wow tada">{{section_2_title}}</h1>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
            <div class="box-item left">
              <span class="icon">
                <i class="fa fa-heart-o"></i>
              </span>
              <div class="text">
                <h4>{{section_2_1_title}}</h4>
                <p>{{section_2_1_subtext}}</p>
              </div>
            </div>
            <div class="box-item left">
              <span class="icon">
                <i class="fa fa-file-text-o"></i>
              </span>
              <div class="text">
                <h4>{{section_2_2_title}}</h4>
                <p>{{section_2_2_subtext}}</p>
              </div>
            </div>
            <div class="box-item left">
              <span class="icon">
                <i class="fa fa-folder-open"></i>
              </span>
              <div class="text">
                <h4>{{section_2_3_title}}</h4>
                <p>{{section_2_3_subtext}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="show-box wow fadeInDown animated" data-wow-offset="10">
            <img src="assets/img/features/iPhone.png" alt="">
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
            <div class="box-item right">
              <span class="icon">
                <i class="fa fa-power-off"></i>
              </span>
              <div class="text">
                <h4>{{section_2_4_title}}</h4>
                <p>{{section_2_4_subtext}}</p>
              </div>
            </div>
            <div class="box-item right">
              <span class="icon">
                <i class="fa fa-check"></i>
              </span>
              <div class="text">
                <h4>{{section_2_5_title}}</h4>
                <p>{{section_2_5_subtext}}</p>
              </div>
            </div>
            <div class="box-item right">
              <span class="icon">
                <i class="fa fa-lightbulb-o"></i>
              </span>
              <div class="text">
                <h4>{{section_2_6_title}}</h4>
                <p>{{section_2_6_subtext}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Features Section Start -->

  <!-- feature-list Section -->
  <section id="main-features">
    <div id="feature-list-item-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="title-small wow fadeInLeft" data-wow-offset="10">{{section_3_title}}</h1>
            <h2 class="subtitle-small wow fadeInUp" data-wow-delay=".8s" data-wow-offset="10">{{section_3_subtext}}</h2>
          </div>
          <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s" data-wow-offset="10">
            <img class="pull-right" src="assets/img/features/graph.png">
          </div>
        </div> 
      </div>
    </div>

  <!--  <div id="feature-list-item-2">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col-md-6 wow fadeInLeft" data-wow-delay=".5s" data-wow-offset="10">-->
  <!--          <img src="assets/img/features/graph.png">-->
  <!--        </div>-->
  <!--        <div class="col-md-6">-->
  <!--          <h1 class="title-small wow fadeInRight" data-wow-offset="10">Lorem Ipsum is simply</h1>-->
  <!--          <h2 class="subtitle-small wow fadeInUp" data-wow-delay=".8s" data-wow-offset="10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br> <a class="btn btn-default btn-lg" href="#">Learn More</a> </h2>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <div id="feature-list-item-3">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col-md-6">-->
  <!--          <h1 class="title-small wow fadeInLeft" data-wow-offset="10">Lorem Ipsum is simply</h1>-->
  <!--          <h2 class="subtitle-small wow fadeInUp" data-wow-delay=".8s" data-wow-offset="10">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br><a class="btn btn-default btn-lg" href="#">Learn More</a> </h2>-->
  <!--        </div>-->
  <!--        <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s" data-wow-offset="10">-->
  <!--          <img class="pull-right" src="assets/img/features/graph.png">-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div id="feature-list-item-4">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col-md-6 wow fadeInLeft" data-wow-delay=".5s" data-wow-offset="10">-->
  <!--          <img src="assets/img/features/graph.png">-->
  <!--        </div>-->
  <!--        <div class="col-md-6">-->
  <!--          <h1 class="title-small wow fadeInRight" data-wow-offset="10">Lorem Ipsum is simply</h1>-->
  <!--          <h2 class="subtitle-small wow fadeInUp" data-wow-delay=".8s" data-wow-offset="10">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br><a class="btn btn-default btn-lg" href="#">Learn More</a> </h2>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</section>-->
  <!-- feature-list Section End -->

  <section id="bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <h3>{{footer_links_1_title}}</h3>
          <ul>
            <li><a href="{{footer_links_1_1_url}}">{{footer_links_1_1_label}}</a>
            </li>
            <li><a href="{{footer_links_1_2_url}}">{{footer_links_1_2_label}}</a>
            </li>
            <li><a href="{{footer_links_1_3_url}}">{{footer_links_1_3_label}}</a>
            </li>
            <li><a href="{{footer_links_1_4_url}}">{{footer_links_1_4_label}}</a>
            </li>
            <li><a href="{{footer_links_1_5_url}}">{{footer_links_1_5_label}}</a>
            </li>
          </ul>
        </div>
        <!--<div class="col-md-3 col-sm-3 col-xs-12">-->
        <!--  <h3>FAQs</h3>-->
        <!--  <ul>-->
        <!--    <li><a href="#">Why choose us?</a>-->
        <!--    </li>-->
        <!--    <li><a href="#">Where we are?</a>-->
        <!--    </li>-->
        <!--    <li><a href="#">Fees</a>-->
        <!--    </li>-->
        <!--    <li><a href="#">Guarantee</a>-->
        <!--    </li>-->
        <!--    <li><a href="#">Discount</a>-->
        <!--    </li>-->
        <!--  </ul>-->
        <!--</div>-->
        <!--<div class="col-md-3 col-sm-3 col-xs-12">-->
        <!--  <h3>About</h3>-->
        <!--  <ul>-->
        <!--    <li><a href="#">Career</a>-->
        <!--    </li>-->
        <!--    <li><a href="#">Partners</a>-->
        <!--    </li>-->
        <!--    <li><a href="#">Team</a>-->
        <!--    </li>-->
        <!--    <li><a href="#">Clients</a>-->
        <!--    </li>-->
        <!--    <li><a href="#">Contact</a>-->
        <!--    </li>-->
        <!--  </ul>-->
        <!--</div>-->
        <!--<div class="col-md-3 col-sm-3 col-xs-12">-->
        <!--  <h3>Find us on</h3>-->
        <!--  <a class="social" href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>-->
        <!--  <a class="social" href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>-->
        <!--  <a class="social" href="#" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>-->
        <!--  <a class="social" href="#" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>-->
        <!--</div>-->
      </div>
      <div style="padding-bottom:20px;">{{bottom_text}}</div>
    </div>
  </section>
  <!-- Bootstrap JS -->
  <script src="assets/js/bootstrap.js"></script>
  <!-- WOW JS plugin for animation -->
  <script src="assets/js/wow.js"></script>
  <!-- All JS plugin Triggers -->
  <script src="assets/js/main.js"></script>
</body>
</html>